.banner-sp{
    height: 935px;
    background: url(./images/banner.png) no-repeat center center;
    .banner-content{
        position: relative;
        height: 935px;
       
        opacity: .2;
         a{
            position: absolute;
            display: block;
            cursor: pointer;
            text-decoration: none;
         }
         .regist-btn{
            
            width: 216px;
            height: 88px;
           
            bottom: 49px;
            right: 16px;
        }
        .jingxi-1{
            width: 116px;
            height: 28px;
           
            bottom: 86px;
            left: 539px;

        }
        .jingxi-2{
            width: 120px;
            height: 28px;
           
            bottom: 53px;
            left: 462px;
        }
        
        
    }
    
   .banner-content-b{
       height: 300px;
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
      
   }
}


.layui-Pan-nobg{
	background-color: transparent;
}

.layer-html-1-main{
	width: 1000px;
	height: 319px;
	position: relative;
	.close-layer{
		position: absolute;
		width: 44px;
		height: 44px;
		cursor: pointer;
		
		opacity: 0;
		right:11px;
	}
	img{
		display: block;
		max-width: 100%;
	}
	.online-url-sp{
		position: absolute;
		display: block;
		width: 200px;
		height: 30px;
		bottom: 46px;
		left: 224px;
		text-decoration: none;
		cursor: pointer;
	}
}

.layer-html-2-main{
	width: 1000px;
	height:442px;
	position: relative;
	.close-layer{
		position: absolute;
		width: 44px;
		height: 44px;
		cursor: pointer;
		
		opacity: 0;
		right:21px;
	}
	img{
		display: block;
		max-width: 100%;
	}
	.online-url-sp{
		position: absolute;
		display: block;
		width: 200px;
		height: 30px;
		bottom: 187px;
        left: 221px;
		text-decoration: none;
		cursor: pointer;
		
	}
	.my-panpi-url-sp{
		position: absolute;
		display: block;
		width: 200px;
		height: 30px;
		bottom: 238px;
        left: 793px;
		text-decoration: none;
		cursor: pointer;
		
	}
}