.floor-sp{
    background: #484f8e;
    padding-top: 28px;
    .floor-title{
        height: 58px;
        background: url(./images/floor-title.png) no-repeat center center;
    }
    .floor-box{
        position: relative;
        padding-bottom: 12px;
    }
    .floor-main{
        position: relative;
        ul{
            clear: both;
            overflow: hidden;
            padding-left: 4px;
            width: 1050px;
            li{
                float: left;
                width: 240px;
                height: 340px;
                margin-top: 10px;
                margin-left: 6px;
               
                &.lic{
                    background: #FFF;
                    .pro-foot{
                        position: relative;
                        padding: 12px;
                        padding-top: 0px;
                        height: 64px;
                    }
                    p{
                        height: 30px;
                        line-height: 30px;
                        overflow: hidden;
                        white-space: normal;
                        font-size: 12px;
                        text-decoration: none;
                        color: #555555;
                        a{
                            color: #555555;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .price{
                        color: #fb483a;
                        font-size: 22px;
                        font-family: "Arial Regular";
                        position: relative;
                        margin-top: 5px;
                        float: left;
                        i{
                            font-size: 18px;
                            font-style: normal;
                        }
                    }
                    .btn-go{
                        float: right;
                        display: block;
                        text-indent: 24px;
                        width: 106px;
                        height: 30px;
                        line-height: 30px;
                        color: #FFF;
                        background:#fb483a url(./images/btn-go.png) no-repeat;
                        background-position: 80px 10px;
                        &:hover{
                            background-color: #DE2314;
                        }
                        a{
                            color: #FFF;
                            display: block;
                            line-height: 30px;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    
                    font-size: 12px;
                }
                .thumb{
                    display: block;
                    width: 240px;
                    height: 265px;
                    background: #eaeaea;
                    text-align: center;
                    line-height: 265px;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        
    }
}