.frame {
  width: 100%;
  overflow: hidden; }
  .frame a {
    text-decoration: none; }

.w1000 {
  width: 1000px; }

.m-auto {
  margin: 0 auto; }

.footer {
  margin-top: 0; }

.banner-wrap-p {
  height: 600px;
  background: #fea7c3 url(./images/bannerA.png) no-repeat center center;
  position: relative; }
  .banner-wrap-p .banner-duobian {
    position: absolute;
    left: 0;
    right: 0;
    height: 600px;
    background: url(./images/banner-duobian.png) no-repeat center center; }
  .banner-wrap-p .banner-bowen {
    position: absolute;
    left: 0;
    right: 0;
    top: 67px;
    height: 342px;
    background: url(./images/banner-bowen.png?v2) no-repeat center center; }
  .banner-wrap-p .banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 49px;
    height: 481px;
    background: url(./images/banner-text2.png) no-repeat center center; }
  .banner-wrap-p .banner-girl {
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    height: 545px;
    background: url(./images/banner-girl.png) no-repeat center center; }

.floor-1-wrap {
  background: #76e4ee url(./images/f1-bg.png) no-repeat center 256px;
  min-height: 500px; }

.floor-1 {
  position: relative;
  padding-top: 133px;
  padding-bottom: 56px;
  text-align: center; }
  .floor-1 .panbi-box {
    position: absolute;
    height: 191px;
    left: 0;
    right: 0;
    top: -98px;
    background: url(./images/panbi-box.png) no-repeat center center; }
  .floor-1 img {
    position: relative;
    display: block;
    margin: 0 auto; }

.floor-2-wrap {
  background: #fff url(./images/f2-bg.png);
  min-height: 500px;
  position: relative; }

.floor-2-line-top {
  position: absolute;
  left: 0;
  right: 0;
  height: 52px;
  background: url(./images/f2-line-top.png) no-repeat center top;
  background-size: cover; }

.floor-2-line-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 51px;
  background: url(./images/f2-line-bottom.png) no-repeat center bottom;
  background-size: cover; }

.floor-2 {
  position: relative;
  padding-top: 56px;
  padding-bottom: 98px;
  text-align: center; }
  .floor-2 img {
    position: relative;
    display: block;
    margin: 0 auto; }

.floor-3-wrap {
  background: #FFCBD5 url(./images/f3-bg.png) no-repeat center 124px;
  min-height: 500px; }

.floor-3 {
  position: relative;
  padding-top: 32px;
  padding-bottom: 26px;
  text-align: center; }
  .floor-3 img {
    display: block;
    margin: 0 auto; }

.floor-4-wrap {
  background: #fff url(./images/f2-bg.png);
  min-height: 500px; }

.floor-4-line-top {
  position: absolute;
  left: 0;
  right: 0;
  height: 54px;
  background: url(./images/f4-line-top.png) no-repeat center top;
  background-size: cover; }

.floor-4 {
  position: relative;
  padding-top: 92px;
  text-align: center; }
  .floor-4 img {
    display: block;
    margin: 0 auto; }

.recommend-shop {
  padding-top: 35px; }
  .recommend-shop ul {
    width: 1100px;
    clear: both;
    overflow: hidden; }
  .recommend-shop li {
    float: left;
    margin-right: 12px;
    width: 325px;
    height: 258px; }
    .recommend-shop li img {
      display: inline-block;
      transition: .3s;
      width: 325px;
      height: 258px; }
      .recommend-shop li img:hover {
        -webkit-transform: translate(0, 3px);
                transform: translate(0, 3px); }

.footer-copy-p {
  text-align: right;
  color: #110f07;
  font-size: 14px;
  padding: 20px 0; }

.floor-nav-wrap {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 9999;
  width: 100px;
  height: 64px;
  background: url(./images/top.png) no-repeat center top;
  display: none;
  cursor: pointer; }
  .floor-nav-wrap a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 64px; }

.mapDiv {
  background: purple;
  position: absolute;
  text-align: center; }

.areahover {
  background: purple; }
