<!-- frame -->
<div class="frame ">
    <script src="<%= path %>css/js/app.js "></script>
    <div class="floor-nav ">
        <ul class="floor-nav-u ">
            <li floor="1">&nbsp;
            </li>
            <li floor="2">&nbsp;
            </li>
            <li floor="3">&nbsp;
            </li>
            <li floor="4">&nbsp;
            </li>
        </ul>
        <div class="back-top ">&nbsp;</div>
    </div>
    <div class="page-sp ">
        <div class="banner-sp "> &nbsp;</div>
        <div class="floor-sp w1 m-auto ">
            <div class="floor-c floor1 " id="floor-1">
                <div class="title "><img src="<%= path %>css/imgs/t1.png " alt=" "></div>
                <div class="floor-content ">
                    <ul>
                        <li>
                            <div class="thumb ">
                                <a href=" " target="_blank ">
                                    <img src="<%= path %>css/imgs/products/dk2.jpg " alt=" ">
                                </a>
                            </div>
                            <div class="contents ">
                                <p> <a href=" " target="_blank ">鸭脖子鸭脖子鸭脖子鸭脖子鸭脖子鸭脖</a></p>
                                <div class="price ">￥95</div>
                                <a href=" " class="buy-btn " target="_blank ">&nbsp;</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="floor-c floor2 " id="floor-2">
                <div class="title "><img src="<%= path %>css/imgs/t2.png " alt=" "></div>
                <div class="floor-content ">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="floor-c floor2 " id="floor-3">
                <div class="title "><img src="<%= path %>css/imgs/t3.png " alt=" "></div>
                <div class="floor-content ">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="floor-c floor2 " id="floor-4">
                <div class="title "><img src="<%= path %>css/imgs/t4.png " alt=" "></div>
                <div class="floor-content ">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        </dvi>
    </div>
</div>
 <!-- frame end-->
<script src="./data/data.js "></script>
<script src="./data/html.js "></script>
<script>
    $(function() {
        FloorList(productData)
    })
</script>
