
.banner-wrap-p{
    height: 600px;
    background: #fea7c3 url(./images/banner-bg.png) no-repeat center center;
    position: relative;
    .banner-duobian{
        position: absolute;
        left: 0;
        right: 0;
        height: 600px;
        background: url(./images/banner-duobian.png) no-repeat center center;
    }
    .banner-bowen{
        position: absolute;
        left: 0;
        right: 0;
        top: 67px;
        height: 342px;
        background: url(./images/banner-bowen.png?v2) no-repeat center center;
    }
    .banner-text{
        position: absolute;
        left: 0;
        right: 0;
        top: 49px;
        height: 481px;
        background: url(./images/banner-text.png) no-repeat center center;
    }
    .banner-girl{
        position: absolute;
        left: 0;
        right: 0;
        top: 14px;
        height: 545px;
        background: url(./images/banner-girl.png) no-repeat center center;
    }
}