.floor-nav-wrap{
	position: fixed;
	left: 10px;
	margin-top: -32px;
	top: 50%;
	z-index: 9999;
	width: 100px;
	height: 64px;
	background: url(./images/top.png) no-repeat center top;
	display: none;
    cursor: pointer;
    a{
        text-decoration: none;
        display: block;
        cursor: pointer;
        width: 100px;
	    height: 64px;
    }
}