.recommend-shop{
    padding-top: 35px;
    ul{
        width: 1100px;
        clear: both;
        overflow: hidden;
    }
    li{
        float: left;
        margin-right: 12px;
        width: 325px;
        height: 258px;
        img{
            display: inline-block;
            transition: .3s;
            width: 325px;
            height: 258px;
            &:hover{
                transform:translate(0,3px);
            }
        }
    }
}
.footer-copy-p{
    text-align: right;
    color: #110f07;
    font-size: 14px;
    padding: 20px 0;
}