.w1000 {
  width: 1000px; }

.m-auto {
  margin: 0 auto; }

.app-main {
  background: #555da8;
  padding-bottom: 50px; }

.banner-sp {
  height: 935px;
  background: url(./images/banner.png) no-repeat center center; }
  .banner-sp .banner-content {
    position: relative;
    height: 935px;
    opacity: .2; }
    .banner-sp .banner-content a {
      position: absolute;
      display: block;
      cursor: pointer;
      text-decoration: none; }
    .banner-sp .banner-content .regist-btn {
      width: 216px;
      height: 88px;
      bottom: 49px;
      right: 16px; }
    .banner-sp .banner-content .jingxi-1 {
      width: 116px;
      height: 28px;
      bottom: 86px;
      left: 539px; }
    .banner-sp .banner-content .jingxi-2 {
      width: 120px;
      height: 28px;
      bottom: 53px;
      left: 462px; }
  .banner-sp .banner-content-b {
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }

.layui-Pan-nobg {
  background-color: transparent; }

.layer-html-1-main {
  width: 1000px;
  height: 319px;
  position: relative; }
  .layer-html-1-main .close-layer {
    position: absolute;
    width: 44px;
    height: 44px;
    cursor: pointer;
    opacity: 0;
    right: 11px; }
  .layer-html-1-main img {
    display: block;
    max-width: 100%; }
  .layer-html-1-main .online-url-sp {
    position: absolute;
    display: block;
    width: 200px;
    height: 30px;
    bottom: 46px;
    left: 224px;
    text-decoration: none;
    cursor: pointer; }

.layer-html-2-main {
  width: 1000px;
  height: 442px;
  position: relative; }
  .layer-html-2-main .close-layer {
    position: absolute;
    width: 44px;
    height: 44px;
    cursor: pointer;
    opacity: 0;
    right: 21px; }
  .layer-html-2-main img {
    display: block;
    max-width: 100%; }
  .layer-html-2-main .online-url-sp {
    position: absolute;
    display: block;
    width: 200px;
    height: 30px;
    bottom: 187px;
    left: 221px;
    text-decoration: none;
    cursor: pointer; }
  .layer-html-2-main .my-panpi-url-sp {
    position: absolute;
    display: block;
    width: 200px;
    height: 30px;
    bottom: 238px;
    left: 793px;
    text-decoration: none;
    cursor: pointer; }

.hot-shop-wrap {
  padding-top: 38px; }
  .hot-shop-wrap .hot-title {
    height: 47px;
    background: url(./images/hot-title.png) no-repeat center center; }
  .hot-shop-wrap .hot-main {
    padding-top: 18px;
    padding-bottom: 32px; }
    .hot-shop-wrap .hot-main ul {
      width: 1100px;
      clear: both;
      overflow: hidden; }
      .hot-shop-wrap .hot-main ul li {
        float: left;
        width: 325px;
        height: 280px;
        margin-right: 10px; }
        .hot-shop-wrap .hot-main ul li a, .hot-shop-wrap .hot-main ul li img {
          display: block;
          cursor: pointer; }

.floor-sp {
  background: #484f8e;
  padding-top: 28px; }
  .floor-sp .floor-title {
    height: 58px;
    background: url(./images/floor-title.png) no-repeat center center; }
  .floor-sp .floor-box {
    position: relative;
    padding-bottom: 12px; }
  .floor-sp .floor-main {
    position: relative; }
    .floor-sp .floor-main ul {
      clear: both;
      overflow: hidden;
      padding-left: 4px;
      width: 1050px; }
      .floor-sp .floor-main ul li {
        float: left;
        width: 240px;
        height: 340px;
        margin-top: 10px;
        margin-left: 6px; }
        .floor-sp .floor-main ul li.lic {
          background: #FFF; }
          .floor-sp .floor-main ul li.lic .pro-foot {
            position: relative;
            padding: 12px;
            padding-top: 0px;
            height: 64px; }
          .floor-sp .floor-main ul li.lic p {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            white-space: normal;
            font-size: 12px;
            text-decoration: none;
            color: #555555; }
            .floor-sp .floor-main ul li.lic p a {
              color: #555555; }
              .floor-sp .floor-main ul li.lic p a:hover {
                text-decoration: underline; }
          .floor-sp .floor-main ul li.lic .price {
            color: #fb483a;
            font-size: 18px;
            font-family: "Arial Regular";
            position: relative;
            margin-top: 5px;
            float: left; }
            .floor-sp .floor-main ul li.lic .price span {
              padding-left: 5px;
              font-size: 22px;
              font-style: normal; }
          .floor-sp .floor-main ul li.lic .btn-go {
            float: right;
            display: block;
            text-indent: 24px;
            width: 106px;
            height: 30px;
            line-height: 30px;
            color: #FFF;
            background: #fb483a url(./images/btn-go.png) no-repeat;
            background-position: 80px 10px; }
            .floor-sp .floor-main ul li.lic .btn-go:hover {
              background-color: #DE2314; }
            .floor-sp .floor-main ul li.lic .btn-go a {
              color: #FFF;
              display: block;
              line-height: 30px; }
        .floor-sp .floor-main ul li a {
          text-decoration: none;
          font-size: 12px; }
        .floor-sp .floor-main ul li .thumb {
          display: block;
          width: 240px;
          height: 265px;
          background: #eaeaea;
          text-align: center;
          line-height: 265px; }
          .floor-sp .floor-main ul li .thumb img {
            max-width: 100%;
            max-height: 100%; }

.floor-nav-wrap {
  position: fixed;
  left: 10px;
  margin-top: -201px;
  top: 50%;
  z-index: 9999;
  width: 146px;
  height: 448px;
  background: url(./images/floor-nav.png) no-repeat center top;
  display: none; }
  .floor-nav-wrap a {
    text-decoration: none;
    display: block; }
  .floor-nav-wrap .floor-nav-u {
    padding-top: 14px; }
    .floor-nav-wrap .floor-nav-u li {
      display: block;
      opacity: 0.5; }
      .floor-nav-wrap .floor-nav-u li.li1 a {
        height: 40px; }
      .floor-nav-wrap .floor-nav-u li.li2 a {
        height: 38px; }
      .floor-nav-wrap .floor-nav-u li.li3 a {
        height: 34px; }
      .floor-nav-wrap .floor-nav-u li.li4 a {
        height: 27px; }
      .floor-nav-wrap .floor-nav-u li.li5 a {
        height: 27px; }
      .floor-nav-wrap .floor-nav-u li.li6 a {
        height: 27px; }
      .floor-nav-wrap .floor-nav-u li.li7 a {
        height: 27px; }
  .floor-nav-wrap .floor-nav-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px; }
    .floor-nav-wrap .floor-nav-footer a {
      display: block;
      height: 40px;
      opacity: 0.5; }
