@charset "UTF-8";
body {
  margin: 0 auto;
  font-family: "Microsoft YaHei",微软雅黑; }

.frame {
  width: 950px;
  height: auto;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin: 0 auto;
  text-align: center; }

p, h1, h2, h3, h4, h5, ul, li, dl, dt, dd, b, div, img {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: normal; }

ul, li {
  list-style-type: none; }

img {
  vertical-align: top; }

a, area {
  outline: none;
  blr: expression(this.onFocus=this.blur()); }

/*For IE*/
:focus {
  -moz-outline-style: none; }

/*For Firefox*/
.span25 {
  height: 25px;
  line-height: 25px;
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

#frame {
  width: 100%;
  background-color: #43b0ee; }

.Berserk_banner {
  height: 936px; }

.banner1 {
  background: url(cssImg/nianzhong_sale_02.jpg) no-repeat center;
  height: 90px; }

.banner2 {
  background: url(cssImg/nianzhong_sale_03.jpg) no-repeat center;
  height: 90px; }

.banner3 {
  background: url(cssImg/nianzhong_sale_04.jpg) no-repeat center;
  height: 90px; }

.banner4 {
  background: url(cssImg/nianzhong_sale_05.jpg) no-repeat center;
  height: 90px; }

.banner5 {
  background: url(cssImg/nianzhong_sale_06.jpg) no-repeat center;
  height: 90px; }

.banner6 {
  background: url(cssImg/nianzhong_sale_07.jpg) no-repeat center;
  height: 150px; }

.banner_width {
  width: 1000px;
  margin: 0 auto; }

.lj_register {
  position: relative;
  width: 160px;
  height: 65px;
  left: 638px;
  top: 69px;
  display: block; }

.banner7 {
  background: url(cssImg/nianzhong_sale_09.gif) no-repeat center;
  height: 336px; }

.three_surprised {
  width: 1000px;
  margin: 0 auto; }

.View_details {
  width: 120px;
  height: 37px;
  margin: 249px 0 0 50px;
  float: left;
  display: block; }

.View_details1 {
  width: 120px;
  height: 37px;
  margin: 249px 0 0 313px;
  float: left;
  display: block; }

.customer_service {
  width: 150px;
  height: 37px;
  margin: 249px 0 0 247px;
  float: left;
  display: block; }

.content_list {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 30px 0; }

.Free_service {
  background: url(cssImg/nianzhong_sale_12.gif) no-repeat center;
  height: 47px;
  margin: 50px 0 20px 0;
  clear: both; }

.Free_shop li {
  float: left;
  display: block;
  margin: 0 13px 0 0; }

.Free_shop .pro_right {
  margin: 0; }

.sale_intelligence {
  background: url(cssImg/nianzhong_sale_29.gif) no-repeat center;
  height: 47px;
  margin: 50px 0 20px 0;
  clear: both; }

.sale_pro li {
  float: left;
  border: solid 5px #fff;
  background-color: #fff;
  margin: 0 8px 10px 0;
  display: block; }

.sale_pro span {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 2px 0; }

.sale_pro span a {
  color: #333;
  text-decoration: none; }

.sale_pro span a:hover {
  color: #f43a37;
  text-decoration: none; }

.sale_pro .pro_right {
  margin: 0; }

.layui-layer.layui-Pan-nobg {
  background-color: transparent; }

.Lay-wrap {
  display: none; }

.Lay-main-1, .Lay-main-2 {
  position: relative;
  width: 999px;
  height: 311px;
  display: block; }
  .Lay-main-1 a, .Lay-main-2 a {
    display: block;
    position: absolute;
    height: 40px; }
    .Lay-main-1 a.l-close, .Lay-main-2 a.l-close {
      right: 0;
      top: 0;
      width: 40px; }

.Lay-main-1 .l-daijin {
  width: 160px;
  right: 30px;
  top: 200px; }

.Lay-main-1 .l-kefu {
  width: 160px;
  left: 228px;
  top: 247px; }

.Lay-main-2 .l-kefu {
  width: 160px;
  left: 228px;
  top: 222px; }
