.banner {
    height: 676px;
    background: url(./imgs/banner-all.png) no-repeat center top; 
    background-size: 720px 676px;
    position: relative;
    .nav-tab{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 104px;
        a{
            text-decoration: none;
            color: transparent;
            display: inline-block;
            width: 228px;
            height: 104px;
            // font-size: 0; 
            &:first-child{
                width: 236px;
            }
            &:nth-child(2){
                width: 229px;
               
            }
            &:nth-child(3){
                width: 238px;
            }
        }
    }
}



