$bgclor:#ff6688;
.w1 {
    width: 1000px;
}

.m-auto {
    margin: 0 auto;
}

.page-sp {
    background:$bgclor url(./imgs/bg.jpg);
    padding-bottom: 40px;
    font-family: 'Hiragino Sans GB', "Microsoft YaHei", arial;
}