.floor{
    padding: 30px 0;
}
.floor1{
   
    .title{
        height: 43px;
        background: url(./imgs/t1.png) no-repeat center center;
        background-size: 658px 43px;
        margin-bottom: 16px;
    }
    .content-wrap{
        height: 980px;
        background: url(./imgs/c1-1.png) no-repeat center center;
        background-size: 660px 980px;
        text-align: center;
        margin-bottom: 23px;
        &.on2{
            background-image: url(./imgs/c1-2.png);
        }
    }
    .nav-a{
        display: inline-block;
        height: 55px;
        width: 300px;
        background: transparent;

    }

    .desction{
        height: 77px;
        background: url(./imgs/d1.png) no-repeat center center;
        background-size: 649px 77px;
    }
}
.floor2{
    background-color: #006dba;
    .title{
        height: 41px;
        background: url(./imgs/t2.png) no-repeat center center;
        background-size: 547px 41px;
        margin-bottom: 16px;
    }
    .content-wrap{
        height: 791px;
        background: url(./imgs/c2.png) no-repeat center center;
        background-size: 664px 791px;
        text-align: center;
        margin-bottom: 23px;
    }
}
.floor3{
    padding-bottom: 10px;
    background-color: #006dba;
    .title{
        height: 38px;
        background: url(./imgs/t3.png) no-repeat center center;
        background-size: 371px 38px;
        margin-bottom: 16px;
    }
    .content-wrap{
        height: 547px;
        background: url(./imgs/c3.png) no-repeat center center;
        background-size: 649px 547px;
        text-align: center;
        margin-bottom: 23px;
    }
}
.floor4{
    padding-top: 0;
    background-color: #006dba;
    .title{
        height: 94px;
        background: url(./imgs/btn.png) no-repeat center center;
        background-size: 440px 94px;
        margin-bottom: 16px;
    }
    a{
        display: block;
        background: transparent;
        height: 94px;
        text-decoration: none;
    }
}